
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carRental {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  gap: 60px;
  padding: 9px 80px;
  background: #fff;
}

/* LEFT */
.carRentalLeft .tag {
  color: #8b0039;
  letter-spacing: 2px;
  font-weight: 600;
}

.carRentalLeft h1 {
  font-size: 48px;
  margin: 20px 0;
  line-height: 1.2;
  color: #111;
}

.carRentalLeft .desc {
  font-size: 17px;
  color: #444;
  line-height: 1.7;
  max-width: 650px;
  margin-bottom: 35px;
}

/* FEATURES */
.features {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: #222;
}
.carRentalRight{
    width: 500px;
    height: auto;

}

.feature svg {
  font-size: 26px;
  color: #8b0039;
}

/* BUTTON */
.bookBtn {
  background: #8b0039;
  color: #fff;
  padding: 16px 32px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bookBtn:hover {
  background: #a10045;
  transform: translateY(-3px);
}

/* RIGHT IMAGE */
.carRentalRight img {
  width: 100%;
  max-width: 520px;
  animation: float 3s ease-in-out infinite;
  object-fit: cover;
}

/* FLOAT ANIMATION */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .carRental {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .features {
    justify-content: center;
  }

  .carRentalRight img {
    margin: auto;
  }
}

@media (max-width: 600px) {
  .carRental {
    padding: 60px 20px;
  }

  .carRentalLeft h1 {
    font-size: 34px;
  }
}
@media (max-width: 400px) {
  .feature {
    font-size: 13px;
  }

  .feature svg {
    font-size: 22px;
  }
}