.packageSection {
  padding: 100px 60px;
  background: #fffdf4;
  text-align: center;
}

.packageTag {
  color: #9b0047;
  letter-spacing: 2px;
  font-weight: 600;
}

.packageTitle {
  font-size: 48px;
  margin: 15px 0 60px;
}

.packageTitle span {
  color: #9b0047;
}

.packageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.packageCard {
  background: #fff;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.packageImage {
  height: 220px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.people {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.packageContent {
  padding: 30px;
  text-align: left;
}

.packageContent h3 {
  font-size: 22px;
  margin-bottom: 6px;
}

.desc {
  color: #555;
  margin-bottom: 16px;
}

.facilityTitle {
  font-weight: 600;
  margin-bottom: 8px;
}

.packageContent ul {
  padding-left: 18px;
  margin-bottom: 14px;
}

.packageContent li {
  margin-bottom: 6px;
}

.meta {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 26px;
  color: #9b0047;
  font-weight: 700;
  margin-right: 10px;
}

.oldPrice {
  text-decoration: line-through;
  color: #777;
  font-size: 14px;
}

.detailsBtn {
  background: #9b0047;
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  cursor: pointer;
}

.allBtn {
  margin-top: 60px;
  padding: 16px 36px;
  border-radius: 40px;
  border: none;
  background: #9b0047;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 1100px) {
  .packageGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .packageGrid {
    grid-template-columns: 1fr;
  }
  .packageSection {
    padding: 80px 20px;
  }
}
@media (max-width: 480px) {
  .packageTitle {
    font-size: 36px;
  }
}